/***************************************
 Name: Nextflow Config File
 Auth: Jennifer Chang
 Auth: Andrew Severin
 Date: 2020/08/04
 Desc: Nextflow Configuration File must be in same folder as nf script (or in .nextflow)
 Docs: https://hpc.nih.gov/apps/nextflow.html
       https://www.nextflow.io/docs/latest/config.html
 Configs:
   * params
   * process
   * reports
 ***************************************/

/*****************************
 Define default param values 
 (can overwrite it via --outdir something)
 *****************************/
params {
  outdir = './results'
//  input = './data/*'
}


/*****************************
 Define computing resource 
 (local/slurm/aws)
 *****************************/
process {
  publishDir = "$params.outdir"
  
  /* comment and uncoment following for slurm */
  // executor = 'slurm'
  // clusterOptions = '-N 2 -t 01:00:00' //<= put all slurm settings here
}

/*****************************
 Generate html runtime reports
 Same as adding:
  -with-timeline timeline.html
  -with-report report.html
 *****************************/
timeline {
  enabled = true
  file = "$params.outdir/timeline.html"
}

report {
  enabled = true
  file = "$params.outdir/report.html"
}
